<div ng-app="myapp">
  <p id="notice"><%= notice %></p>
  <h1>Listing Users</h1>
  <p>The value is {{1+1}}</p>
  <div ng-controller="MyController as myController">
    <p>
      Hello {{ myController.greet() }}
    </p>
    <br>
    First Name: <input ng-model="myController.firstName" ng-model-options="{ updateOn: 'blur' }"/>
    </br>
    <br>
    Last Name: <input ng-model="myController.lastName" ng-model-options="{ updateOn: 'blur' }"/>
    </br>
    <br>
    Full Name: {{ myController.getFullName() }}
    </br>
  </div>
</div>